@use "src/scss/mixins" as mix;

.footer {
  @include mix.row;
  @include mix.center;
  bottom: 0;
  position: relative;
  margin: 0;
  width: 100%;
  background-color: blueviolet;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  text-align: center;

  &__text {
    color: white;
    text-decoration: unset;
    font-size: large;
  }
}
