<ng-container *ngIf="!steamUser">
<div class="modal-container">
  <h1>{{ 'steamSync.title' | translate }}</h1>
  <div class="row gap-lg">
    <img class="lobby-icon" src="favicon.ico" />
    <img class="lobby-icon" src="assets/img/steam_icon.png" />
  </div>
  <p class="text-md">{{ 'steamSync.explanation' | translate }}</p>
  <form>
    <mat-form-field appearance="outline">
      <input
        matInput
        [formControl]="steamIdFormControl"
        placeholder="Escribe tu ID de Steam"
      />
      <mat-error *ngIf="steamIdFormControl.hasError('required')">
        {{ "forms.required" | translate }}
      </mat-error>
    </mat-form-field>
  </form>
  <span class="text-sm">{{ 'steamSync.reminder' | translate }}</span>
</div>
<div class="modal-actions">
  <button
    mat-flat-button
    (click)="closeModal()"
    color="accent"
    class="btn primary"
  >
    <span class="text-md"> {{ "global.back" | translate }} </span>
  </button>
  <button
    mat-flat-button
    type="submit"
    color="primary"
    (click)="checkSteamId()"
    class="btn primary"
  >
      <span class="text-md">
        {{ "global.continue" | translate }}
      </span>
  </button>
</div>
</ng-container>

<ng-container *ngIf="steamUser">
  <div class="column gap">
    <img class="steam-avatar" src="{{steamUser.avatar}}">
    <span class="text-md">{{steamUser.username}}</span>
    <span *ngIf="steamUser.communityVisibilityState === -1">Cuenta privada</span>
    <span *ngIf="steamUser.communityVisibilityState === 3">Cuenta pública</span>
  </div>
</ng-container>
