@use "src/scss/mixins" as mix;

.stat {
  @include mix.row;
  @include mix.center;
  width: 100%;
  height: 300px;

  .icon {
    width: 5%;
    height: auto;
  }
}

.text {
  @include mix.column;
  @include mix.center;
  @include mix.gap-sm;
  padding: 4rem 10rem;

  .subtitle {
    font-size: 3rem;
    white-space: nowrap;
  }

  .number {
    font-size: 10rem;
    padding-top: 5rem;
  }
}

.first_stat {
  background: #9ad2cb;
}

.second_stat {
  background: #d7ebba;
}

.third_stat {
  background: #feffbe;
}

.fourth_stat {
  background: #ebd494;
}

.fifth_stat {
  background: #ffbf81;
}
