<div *ngIf="collectionCount" class="stat first_stat">
  <h2>{{ "stats.gamesOwned" | translate }} {{ collectionCount }}</h2>
</div>
<div *ngIf="countDroppedGames" class="stat second_stat">
  <h2>{{ "stats.gamesAbandoned" | translate }} {{ countDroppedGames }}</h2>
</div>
<div *ngIf="countCompletedGames" class="stat third_stat">
  <h2>{{ "stats.gamesCompleted" | translate }} {{ countCompletedGames }}</h2>
</div>
<div *ngIf="countPlayingGames" class="stat fourth_stat">
  <h2>{{ "stats.gamesPlaying" | translate }} {{ countPlayingGames }}</h2>
</div>
<div *ngIf="countTotalReviews" class="stat fifth_stat">
  <h2>{{ "stats.totalReviews" | translate }} {{ countTotalReviews }}</h2>
</div>
