<label class="search">
  <span class="lb-ic" aria-hidden="true">search</span>
  <input
    #input
    type="search"
    [placeholder]="getSearchBarPlaceholder()"
    [formControl]="gameSearch"
    [matAutocomplete]="auto"
    [attr.aria-label]="getSearchBarPlaceholder()"
  />
  <kbd *ngIf="showShortcut" class="kbd">Ctrl K</kbd>
</label>
<mat-autocomplete #auto="matAutocomplete" class="search-results">
  <mat-option
    *ngFor="let option of queryResults"
    [value]="option.name"
    (onSelectionChange)="$event.isUserInput && emitSelectedGame(option.id)"
  >
    <span class="result">
      <img
        class="result__art"
        [src]="imageService.getIgdbImage(option.coverImageId)"
        alt=""
        loading="lazy"
      />
      <span class="result__body">
        <span class="result__title">{{ option.name }}</span>
      </span>
    </span>
  </mat-option>
</mat-autocomplete>
