@use "src/scss/mixins" as mix;
@use "src/scss/variables" as vars;

.container {
  @include mix.column;
  @include mix.center;
  @include mix.gap-sm;
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo {
  width: 15rem;
  height: auto;
  padding-bottom: 2rem;
}

.lobby-title {
  font-size: 3rem;
}

.login-box {
  padding: 30px 40px;
  background-color: vars.$primary-two-600;
  border-radius: 12px;
  width: 382px;
  height: 279px;
  box-shadow: -6px 8px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px
}

.login-box--title {
  font-size: 20px;
  font-weight: bold;
  font-family: Manrope, "Helvetica Neue", sans-serif;
  color: white;
}
