<!--<div class="container">-->
<!--  <img class="logo" src="favicon.ico" />-->
<!--  <h1 class="lobby-title">LOBBY</h1>-->
<!--  <h2>{{ "auth.login" | translate }}</h2>-->
<!--  <form class="column gap-sm" [formGroup]="loginForm" (ngSubmit)="login()">-->
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>{{ "auth.username" | translate }}</mat-label>-->
<!--      <input matInput formControlName="username" />-->
<!--      <mat-error *ngIf="loginForm.get('username')?.hasError('required')">-->
<!--        {{ "forms.required" | translate }}-->
<!--      </mat-error>-->
<!--      <mat-error *ngIf="loginForm.get('username')?.hasError('minlength')">-->
<!--        {{ "forms.tooShort" | translate }}-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>{{ "auth.password" | translate }}</mat-label>-->
<!--      <input-->
<!--        matInput-->
<!--        formControlName="password"-->
<!--        [type]="hide ? 'password' : 'text'"-->
<!--      />-->
<!--      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">-->
<!--        {{ "forms.required" | translate }}-->
<!--      </mat-error>-->
<!--      <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">-->
<!--        {{ "forms.tooShort" | translate }}-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->
<!--    <button mat-button type="submit">{{ "auth.login" | translate }}</button>-->
<!--  </form>-->
<!--  <span *ngIf="errorWithLogin" class="mat-mdc-form-field-error text-lg">{{'auth.loginError' | translate }}</span>-->
<!--  <a class="underline-text cursor-pointer" (click)="goToRegister()">{{-->
<!--    "auth.notAccountYet" | translate-->
<!--  }}</a>-->
<!--</div>-->

<div class="container">
  <div class="login-box">
    <span class="login-box--title">Inicia sesión</span>
  </div>
</div>
