<div class="container">
  <section class="title-container no-select">
    <h1 class="main-title">LOBBY</h1>
    <h1 class="main-title cmd-cursor">_</h1>
  </section>

  <div class="login-wrapper">
    <div class="login-box">
      <span class="login-box--title">{{
        (isRegister ? "auth.register" : "auth.login") | translate
      }}</span>
      <form class="auth-form" (ngSubmit)="submitAuth()" [formGroup]="loginForm">
        <app-lobby-input
          [control]="username"
          [placeholder]="'auth.username' | translate"
          [errorMessage]="getFormError(username)"
        ></app-lobby-input>
        <app-lobby-input
          [type]="'password'"
          [control]="password"
          [placeholder]="'auth.password' | translate"
          [errorMessage]="getFormError(password)"
        ></app-lobby-input>
        @if (isRegister) {
          <app-lobby-input
            [type]="'password'"
            [control]="confirmPassword"
            [placeholder]="'auth.confirmPassword' | translate"
            [errorMessage]="getFormError(confirmPassword)"
          ></app-lobby-input>
        }

        <app-lobby-button
          [type]="'submit'"
          [buttonText]="
            (isRegister
              ? 'auth.createAccountButtonText'
              : 'auth.loginButtonText'
            ) | translate
          "
        ></app-lobby-button>
      </form>
    </div>
    <a (click)="toggleRegister()" class="link-text">{{
      (isRegister ? "auth.alreadyHaveAccount" : "auth.notAccountYet")
        | translate
    }}</a>
  </div>
</div>
