@use "src/scss/mixins" as mix;

.no-games {
  @include mix.center;
  @include mix.column;
  @include mix.gap-lg;
  width: 100%;
  height: 100%;

  &--image {
    width: 22rem;
    opacity: 0.8;
  }
}
