@import "src/scss/mixins";

.first-card {
  z-index: 4;
}

.second-card {
  position: absolute;
  padding-left: 10rem;
  z-index: 3;
}

.third-card {
  position: absolute;
  padding-left: 20rem;
  z-index: 2;
}

.fourth-card {
  position: absolute;
  padding-left: 30rem;
  z-index: 1;
}

.list-container {
  @include center;
  @include column;
  width: fit-content;
}

.cards {
  display: flex;
}
