<div class="container">
  <div class="option">
    <mat-icon svgIcon="joystick"></mat-icon>
    <span>{{ "addGameStatus.completed" | translate }}</span>
  </div>
  <mat-divider></mat-divider>
  <div class="option">
    <mat-icon svgIcon="joystick"></mat-icon>
    <span>{{ "addGameStatus.played" | translate }}</span>
  </div>
  <mat-divider></mat-divider>
  <div class="option">
    <mat-icon svgIcon="joystick"></mat-icon>
    {{ "addGameStatus.abandoned" | translate }}
  </div>
  <mat-divider></mat-divider>
  <div class="option">
    <mat-icon svgIcon="joystick"></mat-icon>
    {{ "addGameStatus.retired" | translate }}
  </div>
</div>
