<div class="container">
  <div (click)="addGame(CollectionStatusEnum.completed)" class="option">
    <mat-icon class="completed" svgIcon="joystick"></mat-icon>
    <div class="option__text">
      <div class="column gap-sm">
        <span class="text-lg">{{ "addGameStatus.completed" | translate }}</span>
        <span class="subtitle">{{
          "addGameStatus.completed-text" | translate
        }}</span>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div (click)="addGame(CollectionStatusEnum.played)" class="option">
    <mat-icon svgIcon="joystick"></mat-icon>
    <div class="option__text">
      <div class="column gap-sm">
        <span>{{ "addGameStatus.played" | translate }}</span>
        <span class="subtitle">{{
          "addGameStatus.played-text" | translate
        }}</span>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div (click)="addGame(CollectionStatusEnum.abandoned)" class="option">
    <mat-icon class="abandoned" svgIcon="joystick"></mat-icon>
    <div class="option__text">
      <div class="column gap-sm">
        {{ "addGameStatus.abandoned" | translate }}
        <span class="subtitle">{{
          "addGameStatus.abandoned-text" | translate
        }}</span>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div (click)="addGame(CollectionStatusEnum.retired)" class="option">
    <mat-icon class="retired" svgIcon="joystick"></mat-icon>
    <div class="option__text">
      <div class="column gap-sm">
        {{ "addGameStatus.retired" | translate }}
        <span class="subtitle">{{
          "addGameStatus.retired-text" | translate
        }}</span>
      </div>
    </div>
  </div>
</div>
