@use "src/scss/mixins" as mix;

.container {
  @include mix.column;
  @include mix.gap;
  text-align: center;
  font-size: large;
}

.option {
  @include mix.row;
  @include mix.padding-sm;
  @include mix.gap-sm;
  align-items: center;
  cursor: pointer;

  &__text {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  .completed {
    color: green;
  }

  .abandoned {
    color: red;
  }

  .retired {
    color: blue;
  }

  .playing {
    color: darkgoldenrod;
  }

  .subtitle {
    @include mix.text-sm;
    color: grey;
  }
}

.selected {
  background-color: #e0e0e0;
  border-radius: 10px;
}

.option:hover {
  opacity: 0.5;
}
