<div class="container">
  <div *ngIf="!userGames" class="games-grid">
    <ngx-skeleton-loader
      *ngFor="let loader of loaders"
      class="game-skeleton"
      [theme]="{ height: '100%', width: '100%', margin: '0' }"
    ></ngx-skeleton-loader>
  </div>
  <div *ngIf="userGames" class="games-grid enter">
    <div
      *ngFor="let game of userGames"
      class="game"
      (click)="navigateToGameDetail(game.id)"
    >
      <img
        class="game-cover"
        [src]="imageService.getIgdbImage(game.coverImageId)"
        alt="Cover of the game"
      />
      <span class="title"> {{ game.name }} </span>
    </div>
  </div>
</div>
<div *ngIf="userGames?.length === 0" class="no-games enter">
  <img class="no-games--image" src="favicon.ico" alt="" />
  <p class="text-lg">{{ "noElements.noGames" | translate }}</p>
</div>
