<div class="container flex-wrap row gap-lg center">
  @if (!userGames) {
    <div class="column gap-sm">
      <div class="row gap-lg">
        @for (loader of loaders; track loader) {
          <ngx-skeleton-loader
            [theme]="{ height: '374px', width: '264px', margin: '0' }"
          ></ngx-skeleton-loader>
        }
      </div>
      <div class="row gap-lg">
        @for (loader of loaders; track loader) {
          <ngx-skeleton-loader
            [theme]="{ height: '374px', width: '264px', margin: '0' }"
          ></ngx-skeleton-loader>
        }
      </div>
    </div>
  }
  @for (game of userGames; track game) {
    <div
      class="column center gap-sm dark-when-hover"
      (click)="navigateToGameDetail(game.id)"
    >
      <img
        class="game-cover"
        [src]="imageService.getIgdbImage(game.coverImageId)"
        alt="Cover of the game"
      />
      <span class="title"> {{ game.name }} </span>
    </div>
  }
</div>
@if (userGames?.length === 0) {
  <div class="no-games">
    <img class="no-games--image" src="favicon.ico" />
    <p class="text-lg">{{ "noElements.noGames" | translate }}</p>
  </div>
}
