@use "src/scss/variables" as vars;

.lobby-input {
  border-radius: 8px;
  background-color: vars.$primary-two-600;
  border-width: 2px;
  border-style: inset;
  border-color: white;
  color: white;
  width: 319px;
  height: 36px;
  padding-left: 12px;

  @media (max-width: 500px) {
    width: 200px;
  }
}

input::placeholder {
  color: white;
  font-size: 14px;
  opacity: 0.8;
}

.input-error-message {
  color: red;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 4px;
}
