<div class="modal-container">
  @if (!editMode) {
    <h2>{{ "myLists.createListModal.title" | translate }}</h2>
  }
  @if (editMode) {
    <h2>
      {{ "myLists.createListModal.editTitle" | translate }}
    </h2>
  }
  <form>
    <mat-form-field appearance="outline">
      <input
        matInput
        [formControl]="listNameFormControl"
        placeholder="{{
          'myLists.createListModal.namePlaceholder' | translate
        }}"
      />
      @if (listNameFormControl.hasError("required")) {
        <mat-error>
          {{ "forms.required" | translate }}
        </mat-error>
      }
    </mat-form-field>
  </form>
  <app-game-search-bar
    (selectedGameId)="addGameToList($event)"
  ></app-game-search-bar>
  <div class="game-chips-container">
    @for (game of initialGamesToAdd; track game) {
      <mat-chip class="chip with-icon">
        <span class="chip__text">{{ game.name }}</span>
        @if (editMode) {
          <mat-icon
            matChipRemove
            (click)="deleteGame(game.id)"
            svgIcon="cancel"
          >
          </mat-icon>
        }
      </mat-chip>
    }
  </div>
  <div class="modal-actions">
    @if (editMode) {
      <button
        mat-flat-button
        color="warn"
        class="btn primary"
        (click)="deleteList()"
      >
        <mat-icon svgIcon="delete"></mat-icon>
        <span class="text-md">
          {{ "list.deleteList" | translate }}
        </span>
      </button>
    }
    <button
      (click)="closeModal()"
      mat-flat-button
      color="accent"
      class="btn primary"
    >
      <span class="text-md"> {{ "global.back" | translate }} </span>
    </button>
    <button
      [disabled]="initialGamesToAdd.length === 0 || !listNameFormControl.valid"
      mat-flat-button
      (click)="!editMode ? createList() : updateList()"
      color="primary"
      class="btn primary"
    >
      <span class="text-md">
        {{ "myLists.createListModal.done" | translate }}
      </span>
    </button>
  </div>
</div>
