@use "src/scss/mixins" as mix;

.modal-container {
  @include mix.column;
  @include mix.gap;
  min-width: 23rem;
  width: 420px;
}

.game-chips-container {
  @include mix.row;
  @include mix.gap-sm;
  flex-wrap: wrap;

  .game-chip {
    @include mix.row;
    color: red;
    align-items: center;
    overflow: hidden;
  }
}
