@use "src/scss/mixins" as mix;

.modal-container {
  @include mix.column;
  @include mix.gap;
  width: min(28rem, 100%);
}

.game-chips-container {
  @include mix.row;
  @include mix.gap-sm;
  flex-wrap: wrap;
  max-height: 14rem;
  overflow-y: auto;

  &:empty {
    display: none;
  }
}
