@import "src/scss/mixins";

.modal-container {
  @include column;
  @include gap;
  min-width: 23rem;
  width: 420px;
}

.game-chips-container {
  @include row;
  @include gap-sm;
  flex-wrap: wrap;

  .game-chip {
    @include row;
    color: red;
    align-items: center;
    overflow: hidden;
  }
}
