<div class="banner">
  <button
    class="logout-button"
    (click)="logout()"
    mat-raised-button
    color="accent"
  >
    {{ "profile.logout" | translate }}
  </button>
  <div class="profile-photo">
    <img class="user-photo" src="assets/img/default-photo.svg" alt="" />
    <h2>{{ user.username }}</h2>
  </div>
  <app-game-search-bar class="search-bar"></app-game-search-bar>
</div>

<nav mat-tab-nav-bar class="tab" [tabPanel]="tabPanel">
  <a
    mat-tab-link
    *ngFor="let link of links"
    id="tab-{{ link.route }}"
    [routerLink]="link.route"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{ link.label | translate }}
  </a>
</nav>
<mat-tab-nav-panel #tabPanel> </mat-tab-nav-panel>
