<div class="banner">
  <button
    class="logout-button"
    (click)="logout()"
    mat-raised-button
    color="accent"
  >
    {{ "profile.logout" | translate }}
  </button>
  <div class="profile-photo">
    <img *ngIf="!user.avatar_url" class="user-photo" src="assets/img/default-photo.svg" alt="" />
    <img *ngIf="user.avatar_url" class="user-photo" [src]="user.avatar_url" alt="" />
    <h2 class="username">{{ user.username }}</h2>
  </div>
  <mat-icon (click)="openSteamSyncModal()" class="steam-icon dark-when-hover" svgIcon="steam"></mat-icon>
  <app-game-search-bar
    (selectedGameId)="goToGame($event)"
    class="search-bar"
  ></app-game-search-bar>
  <mat-icon (click)="goToRecents()" class="new-icon dark-when-hover" svgIcon="new"></mat-icon>
</div>

<nav mat-tab-nav-bar class="tab" [tabPanel]="tabPanel">
  <a
    mat-tab-link
    *ngFor="let link of links"
    id="tab-{{ link.route }}"
    [routerLink]="link.route"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    <span class="tab__text">{{ link.label | translate }}</span>
  </a>
</nav>
<mat-tab-nav-panel #tabPanel> </mat-tab-nav-panel>
