@use "src/scss/mixins" as mix;

.banner {

  @include mix.row;
  @include mix.center;
  background-color: #006BA6;
  height: 25%;
  min-height: 250px;
  max-height: 350px;
  width: 100%;

  .profile-photo {
    @include mix.column;
    @include mix.gap-sm;
    @include mix.center;

    .username {
      color: floralwhite;
    }
  }

  .logout-button {
    min-width: fit-content;
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .search-bar {
    position: absolute;
    right: 250px;
    width: 20%;
    max-width: 370px;
  }

  .new-icon {
    position: absolute;
    border-radius: 25%;
    transform: scale(2);
    right: 195px;
    top: 100px;
    max-width: 370px;
  }

  .steam-icon {
    position: absolute;
    transform: scale(2);
    right: 650px;
    top: 100px;
  }
}

.user-photo {
  width: 20%;
  min-width: 100px;
}

.tab {
  background-color: cornflowerblue;

  &__text {
    color: floralwhite;
  }
}
