@import "src/scss/mixins";

.banner {
  @include row;
  justify-content: space-between;
  background-color: gray;
  height: 25%;
  min-height: 250px;
  max-height: 350px;
  width: 100%;

  .profile-photo {
    @include column;
    @include gap-sm;
    @include center;
  }

  .logout-button {
    margin: 2rem;
    min-width: 130px;
  }

  .search-bar {
    height: 100px;
    margin: 2rem;
    width: 20%;
    min-width: 200px;
  }
}

.user-photo {
  width: 20%;
  min-width: 100px;
}

.tab {
  background-color: beige;
}
