<div class="row banner">
  <div class="profile-photo">
    <img class="user-photo" src="assets/img/default-photo.svg" alt="" />
    <h2>daviyisu</h2>
  </div>
  <button
    class="logout-button"
    (click)="logout()"
    mat-raised-button
    color="accent"
  >
    {{ "profile.logout" | translate }}
  </button>
  <mat-form-field class="search-bar">
    <input
      type="text"
      placeholder="Search games here"
      [formControl]="gameSearch"
      matInput
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of queryResults"
        [value]="option.name"
        (click)="goToGame(option.id)"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<nav mat-tab-nav-bar class="tab" [tabPanel]="tabPanel">
  <a
    mat-tab-link
    *ngFor="let link of links"
    id="tab-{{ link.route }}"
    [routerLink]="link.route"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{ link.label | translate }}
  </a>
</nav>
<mat-tab-nav-panel #tabPanel> </mat-tab-nav-panel>
