<div class="modal-container">
  <h2>{{ "newReview.newReview" | translate }} {{ data.gameName }}</h2>
  <form [formGroup]="form" class="column gap">
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="summary"
        placeholder="{{ 'newReview.summarize' | translate }}"
      />
      <mat-error *ngIf="form.get('summary')?.hasError('required')">
        {{ "forms.required" | translate }}
      </mat-error>
      <mat-error *ngIf="form.get('summary')?.hasError('minlength')">
        {{ "forms.tooShort" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <textarea
        rows="5"
        matInput
        formControlName="review"
        placeholder="{{ 'newReview.writeHere' | translate }}..."
      >
      </textarea>
      <mat-error *ngIf="form.get('review')?.hasError('required')">
        {{ "forms.required" | translate }}
      </mat-error>
      <mat-error *ngIf="form.get('review')?.hasError('minlength')">
        {{ "forms.tooShort" | translate }}
      </mat-error>
    </mat-form-field>
  </form>
  <div class="modal-actions">
    <button
      (click)="closeModal()"
      mat-flat-button
      color="accent"
      class="btn primary"
    >
      <span class="text-md"> {{ "global.back" | translate }} </span>
    </button>
    <button
      (click)="sendReview()"
      mat-flat-button
      color="primary"
      class="btn primary"
    >
      <span class="text-md">
        {{ "gameDetail.createReview" | translate }}
      </span>
    </button>
  </div>
</div>
