<div class="modal-container">
  @if (!editReview) {
    <h2>{{ "newReview.newReview" | translate }} {{ data.gameName }}</h2>
  }
  @if (editReview) {
    <h2>{{ "editReview.editReview" | translate }} {{ data.gameName }}</h2>
  }
  <form [formGroup]="form" class="column gap">
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="summary"
        placeholder="{{ 'newReview.summarize' | translate }}"
      />
      @if (form.get("summary")?.hasError("required")) {
        <mat-error>
          {{ "forms.required" | translate }}
        </mat-error>
      }
      @if (form.get("summary")?.hasError("minlength")) {
        <mat-error>
          {{ "forms.tooShort" | translate }}
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <textarea
        rows="5"
        matInput
        formControlName="review"
        placeholder="{{ 'newReview.writeHere' | translate }}..."
      >
      </textarea>
      @if (form.get("review")?.hasError("required")) {
        <mat-error>
          {{ "forms.required" | translate }}
        </mat-error>
      }
      @if (form.get("review")?.hasError("minlength")) {
        <mat-error>
          {{ "forms.tooShort" | translate }}
        </mat-error>
      }
      @if (form.get("review")?.hasError("maxlength")) {
        <mat-error>
          {{ "forms.tooLarge" | translate }}
        </mat-error>
      }
    </mat-form-field>
    <div class="row gap center">
      <div class="column">
        <mat-form-field appearance="outline" class="rating">
          <input
            matInput
            max="10"
            formControlName="rating"
            min="0"
            type="number"
            placeholder="Rating..."
          />
        </mat-form-field>
      </div>
      <mat-icon
        [ngClass]="form.value.rating < 5 ? 'bad' : ''"
        svgIcon="bad"
      ></mat-icon>
      <mat-icon
        [ngClass]="
          form.value.rating >= 5 && form.value.rating <= 7 ? 'good' : ''
        "
        svgIcon="good"
      ></mat-icon>
      <mat-icon
        [ngClass]="
          form.value.rating >= 8 && form.value.rating <= 9 ? 'very_good' : ''
        "
        svgIcon="very_good"
      ></mat-icon>
      <mat-icon
        [ngClass]="form.value.rating == 10 ? 'perfect' : ''"
        svgIcon="perfect"
      ></mat-icon>
    </div>
  </form>
  <div class="modal-actions">
    <button
      (click)="closeModal()"
      mat-flat-button
      color="accent"
      class="btn primary"
    >
      <span class="text-md"> {{ "global.back" | translate }} </span>
    </button>
    @if (!editReview) {
      <button
        (click)="sendReview()"
        mat-flat-button
        color="primary"
        class="btn primary"
      >
        <span class="text-md">
          {{ "gameDetail.createReview" | translate }}
        </span>
      </button>
    }
    @if (editReview) {
      <button
        (click)="updateReview()"
        mat-flat-button
        color="primary"
        class="btn primary"
      >
        <span class="text-md">
          {{ "editReview.buttonText" | translate }}
        </span>
      </button>
    }
  </div>
</div>
