@use "src/scss/mixins" as mix;
@use "src/scss/variables" as vars;

html,
body {
  height: 100%;
  background-color: vars.$primary-two-900;
}
body {
  margin: 0;
  font-family: Manrope, "Helvetica Neue", sans-serif;
}

.content-wrapper {
  @include mix.column;
  min-height: 100%;
}

app-footer {
  margin-top: auto;
}

mat-chip {
  width: fit-content;
}

.chip {
  &.blue-dark {
    background-color: cornflowerblue !important;
  }
}

.mat-mdc-snack-bar-container {
  &.blue-snackbar {
    --mat-snackbar-container-color: #2196f3;
    --mat-mdc-snack-bar-button-color: #fff;
    --mat-snackbar-supporting-text-color: #fff;
  }
}

.btn {
  &.primary {
    border-radius: 1rem;
    width: fit-content;
  }
}

.mat-mdc-dialog-surface {
  border-radius: 1.4rem !important;
  padding: 1.8em;
  overflow-y: hidden !important;
}

.modal-actions,
.mat-mdc-dialog-actions {
  @include mix.gap;
  @include mix.vertical-center;
  justify-content: flex-end !important;
  margin-top: 1rem;
}
