@import "src/scss/mixins";

html,
body {
  height: 100%;
  /*background-color: darkgray;*/
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-chip {
  width: fit-content;
}

.chip {
  &.blue-dark {
    background-color: cornflowerblue !important;
  }
}

.btn {
  &.primary {
    border-radius: 1rem;
    width: fit-content;
  }
}

.mat-mdc-dialog-surface {
  border-radius: 1.4rem !important;
  padding: 1.8em;
  overflow-y: hidden !important;
}

.modal-actions,
.mat-mdc-dialog-actions {
  @include gap;
  @include vertical-center;
  justify-content: flex-end !important;
  margin-top: 1rem;
}
