html,
body {
  height: 100%;
  /*background-color: darkgray;*/
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-chip {
  width: fit-content;
}

.btn {
  &.primary {
    border-radius: 1rem;
    width: fit-content;
  }
}
