@use "src/scss/mixins" as mix;

.container-padding {
  @include mix.default-container-padding;
}

.padding {
  @include mix.padding;
}

.padding-sm {
  @include mix.padding-sm;
}

.dark-when-hover:hover {
  opacity: 0.8;
  cursor: pointer;
}

.semi-bold {
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}

.underline-text {
  text-decoration: underline;
}

/**
 * Flex shortcuts
 */

.column {
  @include mix.column;
}

.row {
  @include mix.row;
}

.center {
  @include mix.center;
}

.flex-wrap {
  flex-wrap: wrap;
}

/**
 * Gap shortcuts
 */

.gap-xxl {
  @include mix.gap-xxl;
}

.gap-xl {
  @include mix.gap-xl;
}

.gap-lg {
  @include mix.gap-lg;
}

.gap {
  @include mix.gap;
}

.gap-sm {
  @include mix.gap-sm;
}

/**
 * Font shortcuts
 */

.text-lg {
  @include mix.text-lg;
}

.text-md {
  @include mix.text-md;
}

.text-sm {
  @include mix.text-sm;
}

.medium {
  @include mix.medium;
}
