@import "src/scss/mixins";

.container-padding {
  padding: 1.5rem;
}

.dark-when-hover:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

/**
 * Flex shortcuts
 */

.column {
  @include column;
}

.row {
  @include row;
}

.center {
  @include center;
}

/**
 * Gap shortcuts
 */

.gap-lg {
  @include gap-lg;
}

.gap {
  @include gap;
}

.gap-sm {
  @include gap-sm;
}
