@import "src/scss/screens.scss";

@mixin column() {
  display: flex;
  flex-direction: column;
}

@mixin row() {
  display: flex;
  flex-direction: row;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gap-xxl() {
  gap: 5rem;
}

@mixin gap-xl() {
  gap: 3.5rem;
}

@mixin gap-lg() {
  gap: 1.5rem;
}

@mixin gap() {
  gap: 1rem;
}

@mixin gap-sm() {
  gap: 0.5rem;
}

@mixin text-md() {
  font-size: 1rem;
  line-height: 1.2rem;
}

@mixin medium() {
  font-weight: 500;
}

@mixin default-container-padding($vertical-padding: 2rem) {
  padding: $vertical-padding 2rem;

  @include xxl {
    padding: $vertical-padding 25rem;
  }

  @include xl {
    padding: $vertical-padding 10rem;
  }

  @include lg {
    padding: $vertical-padding 5rem;
  }

  @include sm {
    padding: $vertical-padding 1rem;
  }

  @include xs {
    padding: $vertical-padding 0.5rem;
  }
}
