@use "@angular/material" as mat;

@include mat.elevation-classes();
@include mat.app-background();

$md-primary: (
  50: #e9e9fd,
  100: #bbbbf7,
  200: #9a9af4,
  300: #6c6cee,
  400: #5050eb,
  500: #2424e6,
  600: #2121d1,
  700: #1a1aa3,
  800: #14147f,
  900: #0f0f61,
  contrast: (
    50: #fff9e6,
    100: #ffebb0,
    200: #ffe28a,
    300: #ffd454,
    400: #ffcc33,
    500: #ffbf00,
    600: #e8ae00,
    700: #b58800,
    800: #8c6900,
    900: #6b5000,
  ),
);

$primary: mat.m2-define-palette($md-primary);
$accent: mat.m2-define-palette($md-primary);

$lobby-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      background: #0f0f61,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($lobby-theme);
