// Primary Two
$primary-two-50: #e9e9fd;
$primary-two-100: #bbbbf7;
$primary-two-200: #9a9af4;
$primary-two-300: #6c6cee;
$primary-two-400: #5050eb;
$primary-two-500: #2424e6;
$primary-two-600: #2121d1;
$primary-two-700: #1a1aa3;
$primary-two-800: #14147f;
$primary-two-900: #0f0f61;

// Secondary Two (Contrast)
$secondary-two-50: #fff9e6;
$secondary-two-100: #ffebb0;
$secondary-two-200: #ffe28a;
$secondary-two-300: #ffd454;
$secondary-two-400: #ffcc33;
$secondary-two-500: #ffbf00;
$secondary-two-600: #e8ae00;
$secondary-two-700: #b58800;
$secondary-two-800: #8c6900;
$secondary-two-900: #6b5000;
