<div *ngIf="game" class="container-padding column gap-xxl center">
  <div class="column gap">
    <div class="game-header">
      <div class="column gap">
        <img
          *ngIf="cover"
          class="main-cover"
          [src]="cover"
          alt="Cover of the game"
        />
        <div class="column gap-sm">
          <button
            mat-flat-button
            (click)="openNewReviewModal()"
            color="primary"
            class="btn primary"
          >
            <span class="text-md">
              {{ "gameDetail.createReview" | translate }}
            </span>
          </button>
          <button
            *ngIf="gameStatus == CollectionStatusEnum.not_owned"
            mat-flat-button
            color="accent"
            class="btn primary"
            (click)="openAddGameModal()"
          >
            <mat-icon svgIcon="add"></mat-icon>
            <span class="text-md">
              {{ "gameDetail.addGame" | translate }}
            </span>
          </button>
          <button
            *ngIf="gameStatus != CollectionStatusEnum.not_owned"
            [ngClass]="{
              completed: gameStatus === CollectionStatusEnum.completed,
              retired: gameStatus === CollectionStatusEnum.retired,
              abandoned: gameStatus === CollectionStatusEnum.abandoned,
              playing: gameStatus === CollectionStatusEnum.playing
            }"
            mat-flat-button
            color="accent"
            class="btn primary"
            (click)="openAddGameModal()"
          >
            <mat-icon svgIcon="joystick"></mat-icon>
            <span class="text-md">
              {{ "gameStatus." + this.gameStatus | translate }}
            </span>
          </button>
        </div>
      </div>
      <div class="column gap-sm">
        <h1 *ngIf="game.name" class="game-title">{{ game.name }}</h1>
        <div *ngIf="platforms && platforms.length > 0" class="row gap-sm">
          <mat-chip *ngFor="let platform of platforms" class="chip blue-dark">
            {{ platform }}
          </mat-chip>
        </div>
        <div *ngIf="game.genres && game.genres.length > 0" class="row gap-sm">
          <mat-chip *ngFor="let genre of game.genres">
            {{ getGenreEnum()[genre] }}
          </mat-chip>
        </div>
        <span *ngIf="game.firstReleaseDate" class="medium">
          {{
            "gameDetail.releaseDate"
              | translate
                : {
                    day: game.firstReleaseDate.getDate(),
                    month: game.firstReleaseDate.getMonth(),
                    year: game.firstReleaseDate.getFullYear()
                  }
          }}
        </span>
        <div *ngIf="game.summary" class="description">
          <p class="text-md">
            {{ game.summary }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="screenshots.length > 0" class="column">
    <h2>{{ "gameDetail.screenshots" | translate }}</h2>
    <div class="screenshots">
      <img
        *ngFor="let screenshot of screenshots"
        [src]="screenshot"
        alt="Cover of the game"
      />
    </div>
  </div>

  <div *ngIf="reviews" class="review-container column gap">
    <mat-card *ngFor="let review of reviews" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="review_avatar"></div>
        <mat-card-title>random_user</mat-card-title>

        <mat-card-subtitle>{{ review.createdAt }}</mat-card-subtitle>
        <mat-card-subtitle class="review-summary">{{
          review.summary
        }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="review-text">
        <p>
          {{ review.review_text }}
        </p>
      </mat-card-content>
      <mat-card-actions class="row gap-sm">
        <button mat-button>
          <mat-icon svgIcon="like"></mat-icon>
          {{ "comment.like" | translate }}
        </button>
        <button
          (click)="updateReview(review)"
          *ngIf="currentUser.id == review.userId"
          mat-button
        >
          <mat-icon svgIcon="edit"></mat-icon>
          {{ "comment.edit" | translate }}
        </button>
        <button
          (click)="deleteReview(review.id)"
          *ngIf="currentUser.id == review.userId"
          color="warn"
          mat-button
        >
          <mat-icon svgIcon="delete"></mat-icon>
          {{ "comment.delete" | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
