@use "src/scss/mixins" as mix;

mat-chip {
  pointer-events: none;
}

.description {
  max-width: 40rem;
}

.main-cover {
  align-self: flex-start;
  width: 264px;
  height: 374px;
}

.game-title {
  font-size: 3rem;
  line-height: 2.5rem;
}

.review_avatar {
  background-image: url("/assets/img/default-photo.svg");
  background-size: cover;
}

.review-user-avatar {
  background-size: cover;
}

.screenshots {
  @include mix.row;
  @include mix.gap-xl;
  @include mix.column-gap-at-900;
}

.game-header {
  @include mix.row;
  @include mix.gap;
  @include mix.column-gap-at-900;
}

.completed {
  color: green;
}

.abandoned {
  color: red;
}

.retired {
  color: blue;
}

.playing {
  color: darkgoldenrod;
}

.review-container {
  width: 100%;

  .review-summary {
    padding-top: 0.5rem;
    color: black;
    font-size: medium;
  }

  .review-text {
    padding-top: 1rem;
  }

  .review_number {
    font-size: 1.5rem;
  }

  .bad {
    color: red;
  }

  .good {
    color: green;
  }

  .very_good {
    color: blue;
  }

  .perfect {
    color: darkturquoise;
  }
}
