<div class="container-padding column gap-xxl center">
  <div class="column gap">
    <div class="row gap">
      <div class="column gap">
        <img
          class="main-cover"
          src="https://images.igdb.com/igdb/image/upload/t_cover_big/co3cwt.jpg"
          alt="Cover of the game"
        />
        <div class="column gap-sm">
          <button
            mat-flat-button
            (click)="openNewReviewModal()"
            color="primary"
            class="btn primary"
          >
            <span class="text-md">
              {{ "gameDetail.createReview" | translate }}
            </span>
          </button>
          <button
            mat-flat-button
            color="accent"
            class="btn primary"
            (click)="openAddGameModal()"
          >
            <mat-icon svgIcon="add"></mat-icon>
            <span class="text-md">
              {{ "gameDetail.addGame" | translate }}
            </span>
          </button>
        </div>
      </div>
      <div class="column gap-sm">
        <h1 class="game-title">Call of Duty: Modern Warfare 2</h1>
        <div class="row gap-sm">
          <mat-chip class="chip blue-dark">PS3</mat-chip>
          <mat-chip class="chip blue-dark">PC</mat-chip>
        </div>
        <div class="row gap-sm">
          <mat-chip>Shooter</mat-chip>
          <mat-chip>Action</mat-chip>
          <mat-chip>Otra vez shooter</mat-chip>
        </div>
        <span class="medium">Publicado el 04/08/2009 por Ciribute Studios</span>
        <div class="description">
          <p class="text-md">
            Call of Duty: Modern Warfare 2 is a first-person shooter video game
            developed by Infinity Ward and published by Activision for the Xbox
            360 and PlayStation 3 video game consoles and the Microsoft Windows
            operating system. Officially announced on February 11, 2009, the
            game was released worldwide on November 10, 2009. It is the sixth
            installment of the Call of Duty series and the direct sequel to Call
            of Duty 4: Modern Warfare, continuing the same storyline, with Call
            of Duty: Modern Warfare 3 set to end the storyline. Call of Duty:
            Modern Warfare 2 is a first-person shooter video game developed by
            Infinity Ward and published by Activision for the<br /><br />
            Xbox 360 and PlayStation 3 video game consoles and the Microsoft
            Windows operating system. Officially announced on February 11, 2009
            Call of Duty: Modern Warfare 2 is a first-person shooter video game
            developed by Infinity Ward and published by Activision for the Xbox
            360 and PlayStation 3 video game consoles and the Microsoft Windows
            operating system. Officially announced on February 11, 200 Call of
            Duty: Modern Warfare 2 is a first-person shooter video game
            developed by Infinity Ward and published by Activision for the Xbox
            360 and PlayStation 3 video game consoles and the Microsoft Windows
            operating system. Officially announced on February 11, 200 Call of
            Duty: Modern Warfare 2 is a first-person shooter video game
            developed by Infinity Ward and published by Activision for the Xbox
            360 and PlayStation 3 video game consoles and the Microsoft Windows
            operating system. Officially announced on February 11, 200
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <h2>{{ "gameDetail.screenshots" | translate }}</h2>
    <div class="row gap-xl">
      <img
        src="https://images.igdb.com/igdb/image/upload/t_cover_big/co3cwt.jpg"
        alt="Cover of the game"
      />
      <img
        src="https://images.igdb.com/igdb/image/upload/t_cover_big/co3cwt.jpg"
        alt="Cover of the game"
      />
      <img
        src="https://images.igdb.com/igdb/image/upload/t_cover_big/co3cwt.jpg"
        alt="Cover of the game"
      />
      <img
        src="https://images.igdb.com/igdb/image/upload/t_cover_big/co3cwt.jpg"
        alt="Cover of the game"
      />
    </div>
  </div>

  <div class="column gap">
    <mat-card appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="review_avatar"></div>
        <mat-card-title>random_user</mat-card-title>
        <mat-card-subtitle>13-05-22</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          One of the best FPS campaigns of all time and BEST multiplayer of all
          time. IDK if I feel like the rose tinted glasses are kicking in, this
          game had the best mp ever for the time and still holds up to this day.
          Better than any modern cod game they've Sh*t out
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <mat-icon svgIcon="like"></mat-icon>
          LIKE
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="review_avatar"></div>
        <mat-card-title>random_user</mat-card-title>
        <mat-card-subtitle>13-05-22</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          One of the best FPS campaigns of all time and BEST multiplayer of all
          time. IDK if I feel like the rose tinted glasses are kicking in, this
          game had the best mp ever for the time and still holds up to this day.
          Better than any modern cod game they've Sh*t out
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <mat-icon svgIcon="like"></mat-icon>
          LIKE
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="review_avatar"></div>
        <mat-card-title>random_user</mat-card-title>
        <mat-card-subtitle>13-05-22</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          One of the best FPS campaigns of all time and BEST multiplayer of all
          time. IDK if I feel like the rose tinted glasses are kicking in, this
          game had the best mp ever for the time and still holds up to this day.
          Better than any modern cod game they've Sh*t out
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <mat-icon svgIcon="like"></mat-icon>
          LIKE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
