.description {
  max-width: 40rem;
}

.main-cover {
  align-self: flex-start;
}

.game-title {
  font-size: 3rem;
}

.review_avatar {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
