<div class="container-padding column">
  <h1>{{ "recentGames.title" | translate }}</h1>
  <ng-container *ngIf="recentGames">
    <div class="column" *ngFor="let game of recentGames">
      <div (click)="goToGame(game.id)" class="row gap padding dark-when-hover">
        <img
          class="game-cover"
          [src]="imageService.getIgdbImage(game.coverImageId)"
        />
        <div class="column gap">
          <span class="text-lg semi-bold">{{ game.name }}</span>
          <span class="game-summary">{{ game.summary }}</span>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div *ngIf="recentGames.length === 0" class="no-games">
      <img class="no-games--image" src="favicon.ico" />
      <p class="text-lg">{{ "noElements.noRecentGames" | translate }}</p>
    </div>
  </ng-container>
  <div *ngIf="!recentGames" class="column gap">
    <ngx-skeleton-loader
      *ngFor="let loader of loaders"
      [theme]="{ height: '400px', width: '100%', margin: '0' }"
    ></ngx-skeleton-loader>
  </div>
</div>
